.custom-addinterview{
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.3s ease;
}
.sdf{
    height: 100px;
    width: 100px;
    background-color: red;
}