li:hover {

    color: rgb(70, 70, 194);
    transition: all 0.3s ease-in;
    font: bolder;
    cursor: pointer;

}

li{
    font-weight: bolder;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}
